<div class="row">
  <div class="col-md-3 mb-5" *ngFor="let movie of movies">
    <img
      [src]="movie.poster_path | poster"
      class="image-fluid poster"
      (click)="onMovieClick( movie )"
    />
    <div>
      <h3>{{ movie.title }}</h3>
    </div>
    <div class="row">
      <div class="col-10">
        <star-rating
        [value]="movie.vote_average"
        checkedcolor="gold"
        uncheckedcolor="black"
        size="24px"
        (rate)="onRate($event)"
        totalstars='10'
      ></star-rating>
      </div>
      <div class="col-2 text-white">
        {{ movie.vote_average | number: "1.1-2" }}
      </div>
    </div>
  </div>
</div>
