.swiper {
    width: 500px;
    height: 250px;
  }

.swiper-container{
    height: 330;
    width: 100;
}

.swiper-button-prev, .swiper-button-next {
 color:crimson;   
}

.movie-description{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 5px 30px;
    position: absolute;
    
}


.swiper-slide{
  width: 500px;
  height: 250px;
  border: 1px ;
}

.swiper-lazy{
 width: 600px;
  height: 300px;    
  background-size: cover;
}